
body {
    background-color: #081d637a;
    color: rgb(6, 49, 105);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #0c2d75;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}body {
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #8abeee;
}

body {
  background-color: #006effc2;
}

body {
    background-color: #5f35a300;
    color: rgba(72, 42, 110, 0.062);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #633fa504;
    color: rgba(142, 13, 228, 0);
    font-family: "Bai Jamjuree", sans-serif;
}
h1 {
  color: #9707eb00;
}

body {
  background-color: #22150000;
}
.passo.ativo {
    display:block;
} 
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}