
body {
    background-color: #081d637a;
    color: rgb(6, 49, 105);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}body {
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #FF6347;
}

body {
  background-color: #006effc2;
}

body {
    background-color: #5e06ec00;
    color: rgba(104, 6, 233, 0.062);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #870cec04;
    color: rgba(142, 13, 228, 0);
    font-family: "Bai Jamjuree", sans-serif;
}
h1 {
  color: #9707eb00;
}

body {
  background-color: #22150000;
}
.passo.ativo {
    display:block;
}