
body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}body {
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #FF6347;
}

body {
  background-color: #7700ff;
}

body {
    background-color: #5e06ec00;
    color: rgb(104, 6, 233);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #870cec;
    color: rgba(142, 13, 228, 0);
    font-family: "Bai Jamjuree", sans-serif;
}
h1 {
  color: #9707eb;
}

body {
  background-color: #860ee9;
}
.passo.ativo {
    display:block;
}